@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --topic: #1d3557;
    --fondoRojo: #e63946;
    --fondoBlanco: #f1faee;

    --fuente: 'Montserrat', sans-serif;
}

body{
    background-color: var(--topic);
    margin: 0;
    padding: 40px 0;
    font-family: var(--fuente);
    justify-content: center;
    display: flex;
}

.main{
    background-color: var(--fondoBlanco);
    padding: 30px;
}
header>h1{
    margin: 0;
    color: var(--topic);
    text-align: center;
}
header .autor p>span{
    font-weight: bold;
    margin-left: 5px;
}

.ejercicio{
    background-color: #457b9d;
    padding: 20px 15px;
    color: var(--fondoBlanco);
    margin-bottom: 20px;
}
.ejercicio>h3{
    text-align: center;
    margin: 0;
    padding: 5px 0 10px 0;
}
.ejercicio form{
    padding: 15px 20px;
    background-color: var(--fondoRojo);
    border-radius: 7px;
    color: var(--fondoBlanco);
    font-weight: bold;
}

.label-ejercicio{
    display: block;
    width: 100%;
    padding-bottom: 10px;
    font-size: 12px;
}
.input-ejercicio{
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    width: 150px;
    outline: none;
}
.btn-submit{
    background-color: #457b9d;
    color: var(--fondoBlanco);
    font-weight: bold;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    padding: 7px 15px;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.ejercicio .operaciones{
    display: flex;
    align-items: center;
}

.operaciones .operador{
    padding: 10px 15px;
    background-color: #457b9d;
    border-radius: 25px;
    margin: 0 10px;
}
.operador>p{
    font-size: 14px;
    margin: 0;
    padding-bottom: 5px;
}